<%= form_with model: @flavor do |form|%>
    <div class = "form-container">
      <%=form.label :name%>
      <%=form.text_field :name%>
  
      <%=form.label :description%>
      <%=form.text_field :description%>
    
      <%=form.submit "Create", class: "button-new"%>
    </div>

<% end %>