<h1>Sabores</h1>

<div class="container-sabores">

    <% @flavors.each do |flavor| %>
        <div class="sabor-container">
            <img src="https://www.ogastronomo.com.br/upload/389528334-curiosidades-sobre-a-pizza-portuguesa.jpg" alt="">
            <h3><%=flavor.name%></h3>
            <p><%= flavor.description%></p>
            <%=link_to "Editar", edit_flavor_path(flavor)%>
            <%=link_to "Excluir", flavor_path(flavor), data:{turbo_method: :delete}%>
        </div>
    <% end %>

</div>
<%=link_to "Criar novo sabor", new_flavor_path, class:"botao"%>
