<h1>Pizzas</h1>

<div class="container-sabores">
    <% @pizzas.each do |pizza|%>
        <div class="sabor-container">
            <img src="https://www.ogastronomo.com.br/upload/389528334-curiosidades-sobre-a-pizza-portuguesa.jpg" alt="">
            <h3><%=pizza.flavor.name%></h3>
            <p><%=pizza.flavor.description%></p>
            <p><%=pizza.price%></p>
            <%=link_to "Editar", edit_pizza_path(pizza)%>
            <%=link_to "Excluir", pizza_path(pizza), data:{turbo_method: :delete}%>

        </div>
    <%end%>

</div>
<%=link_to "Criar nova pizza", new_pizza_path, class:"botao"%>
<%=link_to "Criar novo pedido", new_order_path, class:"botao"%>